:root {
  --primary: #19688f;
  --link: #347797;
  --link-active: #5691ae;
}

html {
  background-size: 100% auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-active);
  text-decoration: underline
}

iframe {
  background-color: black;
  display: inline-block;
}

iframe + ul {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

h1, h2, h3, h4 {
  color: var(--primary);
  font-weight: 500;
}

article {
  padding: 1em 0 3em;
}

article h1 {
  margin-bottom: 0.4em;
}

article img {
  max-width: 100%;
}

time {
  color: #666;
  display: block;
  margin-bottom: 1.5em;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1400px) { .content { width: 50%; } }
@media (max-width: 1200px) { .content { width: 60%; } }
@media (max-width: 1000px) { .content { width: 70%; } }
@media (max-width: 800px) { .content { width: 80%; } }
@media (max-width: 600px) { .content { width: 90%; } }

nav {
  border-top: var(--primary) solid 6px;
  border-bottom: #aaa solid 1px;
}

nav h1 {
  display: inline-block;
  margin: 0;
  padding: 1em 0;
}

nav h1 a:hover {
  text-decoration: none;
}

.links {
  float: right;
  margin: 0;
}

.links li {
  display: inline-block;
}

.links a {
  display: inline-block;
  padding: 1.5em 1em;
}

.links li:last-child a {
  padding-right: 0;
}

.icon,
.icon:hover {
  text-decoration: none;
}

.icon + .icon {
  margin-left: 5px;
}

.icon-tw path {
  fill: #1c7cf6;
}

.icon-li path {
  fill: #194aa5;
}

.icon svg {
  background-color: white;
  border: #15984f solid 1px;
  border-radius: 25px;
  padding: 1px;
  height: 25px;
  width: 25px;
}

.icon:hover svg {
  border-color: white;
}

.icon path {
  background-color: white;
}

footer {
  border-top: #aaa solid 1px;
  box-sizing: border-box;
  padding: 3em;
}
